.header-icons {
  cursor: pointer;
}
.header-icons {
  cursor: pointer;
}
.header-icons .header-icon {
  margin-right: 5px;
  color: #747264;
}

.header-icons .header-icon:hover {
  color: #ff8080;
}
.dropdown .dropdown-toggle {
  background-color: #fff;
  color: #747264;
  border: none;
    padding: 0;
}

.show .dropdown-toggle {
  background-color: #fff;
  color: #747264;
  border: none;
  padding: 0;
}
