@media only screen and (max-width: 768px) {
  .products-btns {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 750px) {
  .products-btns {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 740px) {
  .products-btns {
    margin-left: 90px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  .products-btns {
    margin-right: auto;
    margin-left: auto;
    padding-left: 65px;
    width: 100%;
  }
}
