.my-swipper {
  width: 70%;
}

.swiper {
  width: 100%;
  height: 450px;
  cursor: grab;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 200px;
  height: 90%;
  object-fit: contain;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .my-swipper {
    width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .my-swipper {
    width: 50%;
    height: 600px;
  }

  .swiper {
    width: 100%;
    height: 600px;
    cursor: grab;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .swiper-slide img {
    width: 200px;
    height: 90%;
    object-fit: contain;
  }
}

/* best sellers section */
.bestsellers {
  margin-bottom: 15px;
  padding: 20px;

  .bestsellers-title {
    font-size: var(--fs-3);
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .bestsellers-content {
    padding-right: 15px;

    .bestsellers-info {
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      img {
        margin-bottom: 10px;
      }
      .subtitle {
        font-size: var(--fs-4);
      }
      .rating {
        font-size: 18px;
      }
      .prices {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--spanish-gray);
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .bestsellers {
    margin-bottom: 15px;
    margin: auto;
    width: 100%;
    padding: 20px;

    .bestsellers-title {
      font-size: var(--fs-3);
      margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .swiper-slide img {
      width: 200px;
      height: 80%;
      object-fit: contain;
    }
    .bestsellers-content {
      .bestsellers-info {
        margin-bottom: 20px;
        img {
          margin-bottom: 10px;
        }
        .subtitle {
          font-size: var(--fs-4);
        }
        .rating {
          font-size: 18px;
        }
        .prices {
          display: flex;
          align-items: center;
          gap: 15px;
          color: var(--spanish-gray);
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  /* best sellers section */

  .bestsellers {
    margin-bottom: 15px;
    .bestsellers-title {
      font-size: var(--fs-3);
      margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .swiper-slide img {
      width: 200px;
      height: 80%;
      object-fit: contain;
    }
    .bestsellers-content {
      .bestsellers-info {
        margin-bottom: 20px;
        img {
          margin-bottom: 10px;
        }
        .subtitle {
          font-size: var(--fs-4);
        }
        .rating {
          font-size: 18px;
        }
        .prices {
          display: flex;
          align-items: center;
          gap: 15px;
          color: var(--spanish-gray);
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .my-swipper {
    width: 100%;
    height: 100%;
  }

  .swiper {
    width: 100%;
    height: 500px;
    cursor: grab;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin-left: 30px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-right: 80px;
  }
  .bestsellers-info {
    margin-left: 80px;
    img {
      margin-bottom: 10px;
    }
    .subtitle {
      font-size: var(--fs-5);
    }
    .rating {
      font-size: 5px;
    }
  }
}
