/* Footer */
.footer-section {
  background-color: var(--onyx);
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;

  .brand-directory {
    .brand-title {
      color: var(--salmon-pink);
      padding-bottom: 10px;
      padding-top: 30px;
    }
    .fashion {
      color: hsl(0, 2%, 58%);
      margin-bottom: 20px;
      .fristword {
        color: var(--spanish-gray);
        margin-right: 15px;
      }
    }
  }
  .Footer-second-section {
    .top {
      .item {
        line-height: 0.7;
        font-size: 17px;

        .item-title {
          color: var(--cultured);
          position: relative;
          padding-bottom: 10px;
        }
        .border-title {
          content: "";
          width: 60px;
          height: 1px;
          background-color: var(--salmon-pink);
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .item-links {
          color: var(--eerie-black);
          cursor: pointer;
          transition: 0.3s;
          font-size: 20px;
          margin-top: 5px;
          .icon {
            font-size: 40px;
            margin-right: 5px;
          }
        }
        .item-links:hover {
          color: var(--salmon-pink);
        }
      }
    }
    .top {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      padding-top: 15px;

      .contactUs {
        padding-top: 0;
        margin-top: 0;
      }
    }
    .bottom {
      .right {
        .footer-img {
          margin: auto;
          margin-bottom: 25px;
          height: 30px;
        }
      }
      .left {
        .copyright {
          font-size: 20px;
          text-align: center;

          padding-right: 15px;
          width: 100%;
        }
      }
    }
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-img {
    width: 250px;
  }
}

/* ./Footer */
