.product-minimal {
  margin-right: 20px;
  .product-showcase {
    .title {
      text-align: center;
      width: 230px;
      border-bottom: 1px solid #dbd7d7;
      margin: auto;
      padding: 10px;
   
    }
  }
  .showcase-wrapper {
    .showcase-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-right: 10%;
      margin-left: 10%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
      margin-bottom: 100px;
      .showcase {
        position: relative;
        border: 1px solid #dbd7d7;
     
        padding: 10px;
        border-radius: 10px;
        width: 320px;
        margin: auto;
        height: 120px;

        .showcase-img-box {
          img {
            position: absolute;
            width: 80px;
            left: 0;
            top: 13px;
          }
        }
        .showcase-content {
          margin-left: 40px;
          padding-left: 40px;
          a {
            .showcase-title {
              font-size: var(--fs-5);
              color: var(--black);
            }
          }
          .showcase-category {
            color: var(--spanish-gray);
            font-size: var(--fs-5);
          }
          .price {
            display: flex;
            align-items: center;
            gap: 15px;
            span {
              color: var(--salmon-pink);
            }
          }
        }
      }
    }
  }
}
