.founder-title {
  font-size: 25px;
  border-bottom: 1px solid #e7dede;
  margin-bottom: 20px;
}

.founder-definition {
  width: 260px;
  border: 1px solid hsl(0, 19%, 92%);
  padding: 25px;
  .founder-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .founder-name {
    color: var(--davys-gray);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
  }
  .founder-jop {
    font-size: 15px;
    text-align: center;
  }
  .founder-icon {
    color: hsl(353, 100%, 78%);
    text-align: center;
  }
  .founder-desc {
    color: var(--spanish-gray);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 778px) {
  .founder-title {
 margin-left: 20px;
}
.founder-definition {
    width: 320px;
    border: 1px solid hsl(0, 19%, 92%);
    padding: 25px;

    margin-left: 30px;
  }

}
