.our-services-main {
  max-width: 290px;
  padding: 10px;
  margin: auto;

  .our-services-mainTitle {
    font-size: var(--fs-2);
    border-bottom: 1px solid #d8d5d5;

    width: 200px;
    padding-bottom: 10px;
  }
  .our-Services-container {
    display: flex;
    border: 1px solid #d8d5d5;
    padding: 10px;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 30px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .our-Services-container {
   width: 320px;
   margin-left: 25px;
  }
}
